body {
    background: #b1b1b1;
}

img {
    max-width: 97%;
    max-height: 97%;
    width: auto;
    height: auto;
}

.container {
    margin-top: 20px;
    margin-left: 20px;
    max-width: 630px;
    background: #829eae;
}

.header {
    height: 100px;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
}

.board {
    border: 3px solid black;
    height: 630px;
    background: #829eae;
    font-size: 14px;
}

.chessboard {
    width: 100%;
    max-height: 600px;
    height: 95%;
}

.status {
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    height: 50px;
}

.row-board-top {
    overflow: auto;
    height: 2.5%;
    width: 100%;
}

.row-board-bottom {
    overflow: auto;
    height: 2.5%;
    width: 100%;
}

.row-chessboard {
    overflow: auto;
    height: 12.5%;
    width: 100%;
}

.col {
    float: left;
    height: 100%;
}

.col-1 {
    width: 11.875%;
}

.col-board-edges-sides {
    text-align: center;
    width: 2.5%;
}

.col-board-edges {
    text-align: center;
    width: 11.875%;
}

.col-board-sides {
    text-align: center;
    width: 2.5%;
    line-height: 520%;
}

.black {
    background: black;
    color: white;
}

.white {
    background: white;
    color: black;
}

.fieldset {
    border: none;
    margin: 0;
    padding: 10px;
    flex-grow: 1;
}

.figure {
    display: none;
}

.fieldset-header {
    font-size: large;
    font-weight: 800;
}

.fieldset-label {

}